* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  .main {
    
    background-color: #fff;
    width: 100%;
    
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    padding-top: 30px;
    background-color: white;
    
    
  }
  
  .left-section {
    display: flex;
  
  }
  
  .Logo {
    height: 24px;
    padding-left: 130px;
  }
  
  
  
  .menu a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  
  .user {
    display: flex;
    align-items: center;
  }
  
  .user a {
    margin:5px;
    text-decoration: none;
    color: black;
    
    
    
  }
  
  .img1 {
    height: 20px;
    margin: 0 5px;
  }
  
  .img2 {
    height: 40px;
  }


  .location {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #000;
    color: white;
  }
 
  .location img {
    margin:  10px;
 }
 
 .location button{
    margin: 10px;
    border-radius: 200px;
    height: 30px;
    background-color: #000 ;
    color: white;
    cursor: pointer;
 }

 .strip {
    display: flex;
    justify-content: center;
    align-items: center;
 }
.h{
    
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
    color: #202124;
    margin-top: 24px;
}

.buttons {
    
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-radius: 200px;
    margin-top: 20px;
    padding: 2px;
    width: 100%;
}
.buttons button {
     
    padding: 10px 20px;
    border: none; 
    border-radius: 200px; 
    cursor: pointer
 }
    
.buttons .red {
    background-color: red; 
    color: white; }

.buttons .grey {
  
    color: black; 
}
.carosal{
    
    display: block;
    margin-top: 30px;
    border-style: none;
    
}
.carosal img{
  height:418px ;
  
  
  
}

.cate {
  text-align: center;
  margin: 20px;
}
.cate h1 {
  margin-top: 70px;
  margin-bottom: 50px;
  padding-right: 50%;
  
}

.grid-cate {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.grid-item {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  border-radius: 8px 8px 0 0;
}

.grid-item p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}




.mid {
  background:#202124;
  padding: 0px;
}

.log {
  
  padding-left: 200px;
  width: 100px; 
  
}

.heading {
  font-size: 24px;
  margin: 35px 0;
  padding-left: 200px;
  color: white;
  font-style: bold;
  font-weight: 700;
  font-size: 30px;
}

.view-deals {
  font-size: 16px;
  padding-left: 90%;
}

.view-deals a {
  color: #fff;
  text-decoration: none;
}

.grid-cate-mid {
  display: flex;
  justify-content: center;
  
}

.grid-cate-item {
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  width: 300px; 
}

.offer-img {
  max-width: 100%;
  border-radius: 8px 8px 0 0;
}

.grid-cate-item h2 {
  font-size: 26px;
  font-weight: 780;
  margin: 10px 0;
  color: #e4002b;
  height: 43px;
}

.grid-cate-item p {
  font-size: 14px;
  margin: 10px 0;
}

.grid-cate-item a {
  color: #494949;
  
  font-size: 14px;
}

.grid-cate-item button {
  background-color: transparent;
  color: #202124;
  border:solid 2px black ;
  border-radius: 200px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  
}

.grid-cate-item button:hover {
  background-color: black;
  color: white;
}




.footer {
  
  background-color: #1e1e1e;
  padding: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo img {
  width: 60px; 
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  font-size: 13px;
  font-weight: 500;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column a {
  color: #e3e3e3;
  text-decoration: none;
  margin: 5px 0;
}

.footer-column a:hover {
  color: white;
}

.find-column a {
  display: flex;
  align-items: center;
}

.find {
  width: 10px; 
  margin-right: 5px;
}

.app-column {
  display: flex;
  flex-direction: column;
}

.app-icon {
  width: 120px; 
  margin: 5px 0;
}



.footer-end {
  
  align-items: center;
  display: flex;
  
  color: white;           
  padding: 20px;
  
}

.footer-end p{
  padding-left: 35%;
  padding-right: 20%;
}



.footer-end-img img {
  margin: 0 1px;
  width: 30px;
  height: 30px;
}